---
layout: default
---
<!-- add some music start -->
<audio autoplay="autoplay" id="vd"><source src="/music/jiaRuAiYouTianYi.mp3" type="audio/mpeg"> Your browser does not support the audio element.</audio>
<script>
  function toggleSound() {
   var music = document.getElementById("vd");//获取ID  
   if (music.paused) { //判读是否播放  
    music.paused = false;
    music.play(); //没有就播放 
   } else {
    clearInterval(timer)
   }
  }
  var timer = setInterval("toggleSound()", 1);
</script> 
<!-- add some music end -->

<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15}}">
    <div class="container">
        <div class="collection-title">
            <h1 class="collection-header">{{ page.title }}</h1>
            {% if page.subtitle %}
                <div class="collection-info">
                    <span class="meta-info">
                        {{ page.subtitle}}
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
</section>
<!-- / .banner -->
 <section class="container content">
        <div class="columns">
            <div class="column two-thirds" >
                <article class="article-content markdown-body">
                    {{ content }}
                </article>
                <div class="share">
                    {% include sns-share.html %}
                </div>
            </div>
            <div class="column one-third">
                {% include sidebar-search.html %}
            </div>
        </div>
    </section>
    <!-- /section.content -->
